.nav{
    display: flex;
    
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin: auto;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    /* font-size: 25px; */
   
    color: red;
    
}
.navbar{
    display:flex;
    gap: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}
.cart{
    font-size: 25px;
}
.logo{
    font-size: 25px;
    font-weight: 600;
}
.navcontainer{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.128);
}
@media (max-width:768px){
    .navbar{
        /* display: none; */
    }
}