
.productContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.title{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 30px;
}
.product{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.eachItem{
    
    border: 2px solid rgba(128, 128, 128, 0.297);
}
.eachItem:hover{
    border: 2px solid black;
}
.product img{
    width: 100%;
    object-fit: contain;
    height: 200px;
    margin-bottom: 5px;
    
}
.eachItem a{
    border: none;
}
.eachItem a:hover{
    border: none;
}
.productNameP{
    padding-left: 10px;
    text-transform: capitalize;
}

.productImage img{
    width: 100%;
}

.shop-bag{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 10px;
    font-weight: 900;
    font-size: 18px;
}
.shop-bag .icon{
    border: 2px solid rgba(128, 128, 128, 0.297);
    padding: 2px 8px;
    border-radius: 10px;
    
    /* color: rgba(128, 128, 128, 0.297); */
}
.shop-bag .icon:hover{
   /* color: green; */
   background-color: rgb(220, 215, 215);
   
    
    
}
@media (max-width:768px) {
    .product{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (max-width:576px) {
    .product{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width:425px) {
    .product{
        grid-template-columns: 1fr;
    }
    
}