.productContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 10vh;
}
.title{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 30px;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.product a{
    
    border: 2px solid rgba(128, 128, 128, 0.297);
}
.product a:hover{
    border: 2px solid black;
}
.product img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    margin-bottom: 5px;
    
}
.productPrice{
    font-weight: 700;
    font-size: 20px;
    
}
@media (max-width:768px) {
    .product{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (max-width:576px) {
    .product{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width:425px) {
    .product{
        grid-template-columns: 1fr;
    }
    
}